

<div class=" mt-36 p-3 border rounded-lg mb-4 ml-3 mr-3 border border-gray-600 bg-gray-50">
    <h2 class="text-md font-bold mb-2 text-center bg-gray-200 text-customPurple relative flex justify-center items-center">
        E-Ticket
        <div class="absolute inset-y-0 right-0 flex items-center mr-3 space-x-2">
          <button class="text-xs text-customPurple underline hover:no-underline focus:outline-none mx-2">Email</button>
          <div class="border-l h-4 border-customPurple"></div>
          <button class="text-xs text-customPurple underline hover:no-underline focus:outline-none mx-2">Print</button>
          <div class="border-l h-4 border-customPurple"></div>
          <button class="text-xs text-customPurple underline hover:no-underline focus:outline-none mx-2">Generate PDF</button>
        </div>
      </h2>
      <div class="grid grid-cols-2 gap-4 mb-3 justify-center items-center">
        <div class="bg-gray-100 p-3 rounded-md ">
          <div class="flex mb-2">
            <div class="w-2/4 font-semibold">PNR:</div>
            <div class="w-2/4">1EE5556</div>
          </div>
          <div class="flex">
            <div class="w-2/4 font-semibold">E-Ticket Number:</div>
            <div class="w-2/4">A7895c6</div>
          </div>
           <p class="text-md font-bold mt-3 text-customPurple">Issued Date:29-Jan-2024,Wed</p>
          
        </div>
      
        <div class="bg-gray-100 p-3 rounded-md">
          <p class="text-sm font-semibold text-customPurple underline">Agency Address:</p>
          
          <div class="flex">
            <div class="w-2/4 font-semibold text-sm">Address:</div>
            <div class="w-2/4 text-sm">{{ agencyAddress.address }}</div>
          </div>
          <div class="flex">
            <div class="w-2/4 font-semibold text-sm">City:</div>
            <div class="w-2/4 text-sm">{{ agencyAddress.city }}</div>
          </div>
          <div class="flex">
            <div class="w-2/4 font-semibold text-sm">Phone:</div>
            <div class="w-2/4 text-sm">{{ agencyAddress.phone }}</div>
          </div>
          <div class="flex">
            <div class="w-2/4 font-semibold text-sm">Email:</div>
            <div class="w-2/4 text-sm">{{ agencyAddress.email }}</div>
          </div>
        </div>
        
      </div>
      
      <h4 class="text-md font-semibold p-1 pl-2 rounded-lg bg-gray-100 underline">Traveller Details</h4>
      <table class="min-w-full bg-white mb-10 border b-2">
        <thead>
          <tr>
            <th class="text-xs px-2">Traveller Name:</th>
            <th class="text-xs px-2">Traveller Type:</th>
            <th class="text-xs px-2">E-Ticket Number:</th>
            <th class="text-xs px-2">Frequent Flyer Number:</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-xs px-2">Mr. Rishabh Chawla</td>
            <td class="text-xs px-2">Adult</td>
            <td class="text-xs px-2">789HY8-585</td>
            <td class="text-xs px-2">7859-5896-7855</td>
          
          </tr>
        </tbody>
      </table>
      
<h4 class="text-md font-semibold p-1 pl-2 bg-gray-100 rounded-lg underline">Flight Details</h4>
<div class="mb-1 p-1 rounded-2xl justify-end items-end">
 
    <div class="flex items-center p-1">
     
      <!-- <div class="bg-gray-200 h-6 w-32 ml-2 text-center text-xs flex items-center justify-center"
 [ngClass]="{
   'text-green-700 font-semibold': flight.flightStatus === 'Confirmed',
   'text-red-700': flight.flightStatus === 'Cancelled',
   'text-yellow-700': flight.flightStatus === 'Hold'
 }">
 {{ flight.flightStatus }}
</div> -->
      </div>

  </div>

<div class="grid grid-cols-4 gap-0 border-1 border-customPurple rounded-lg p-1">

  <div class="col-span-1 border-r-2 mt-4">
    <div class="flex items-center text-xs font-semibold text-customPurple mb-0.5 pl-2">
      <span class="w-32">Flight Number:</span>
      <!-- <span>{{ flight.flightNumber }}</span> -->
    </div>
    <div class="flex items-center text-xs font-semibold text-customPurple mb-0.5 pl-2">
      <span class="w-32">Airline:</span>
      <!-- <span>{{ flight.airline }}</span> -->
    </div>
    <div class="flex items-center text-xs font-semibold text-customPurple mb-0.5 pl-2">
      <span class="w-32">Class:</span>
      <!-- <span>{{ flight.class }}</span> -->
    </div>
    <div class="flex items-center text-xs font-semibold text-customPurple mb-0.5 pl-2">
      <span class="w-32">Duration:</span>
      <!-- <span>{{ flight.duration }}</span> -->
    </div>
  </div>
  

  <div class="col-span-2 ">
    <div class="flight-path mt-0 text-customPurple border-r-2">
      <svg width="420" height="100">
        
        <line x1="50" y1="50" x2="350" y2="50" stroke="#666" stroke-width="2" />
        
        <circle cx="50" cy="50" r="5" class="stop" />
        <circle cx="350" cy="50" r="5" class="stop" />
        <image href="img/icons/icons8-flight-64.png" x="145" y="40" height="20" width="20" />
      </svg>
    </div>
  </div>
  
  <div class="col-span-1">
    <div class="flex items-center text-xs font-semibold text-customPurple mb-0.5 pl-2">
        <span class="w-32 underline font-semibold text-center">Barcode</span>        
      </div>
  </div>
  
</div>

<hr>
<h4 class="text-md font-semibold p-1 pl-2 bg-gray-100 rounded-lg underline">Ancilliary Services</h4>
<table class="mt-2 w-full border border-gray-200 rounded-lg overflow-hidden">
  <thead class="bg-gray-100">
    <tr>
      <th class="border-t border-l border-r border-gray-200 p-2 text-xs first:rounded-tl-lg last:rounded-tr-lg">Baggage</th>
      <th class="border-t border-l border-r border-gray-200 p-2 text-xs first:rounded-tl-lg last:rounded-tr-lg">Seat</th>
      <th class="border-t border-l border-r border-gray-200 p-2 text-xs first:rounded-tl-lg last:rounded-tr-lg">Meal</th>
      <th class="border-t border-l border-r border-gray-200 p-2 text-xs first:rounded-tl-lg last:rounded-tr-lg">Special Service</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>

<hr class="my-4 border-t-2 border-gray-200">

    
      <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3 border b-2 border-customPurple p-3">
          <h2 class="text-red-600 text-sm font-semibold mb-2">Important:</h2>
          <ul class="list-disc list-inside text-sm text-gray-600">
            <li *ngFor="let item of importantItems">{{ item }}</li>
          </ul>
          <hr class="my-2 border-t-2 border-gray-200">
          <h2 class="text-red-600 text-sm font-semibold mb-2">Note:</h2>
          <ul class="list-disc list-inside text-sm text-gray-600">
            <li *ngFor="let item of noteItems">{{ item }}</li>
          </ul>
        </div>
        
        
        <div class="col-span-1 bg-customPurple text-white shadow-md rounded-lg w-full mb-4 mr-2">
          <div class="px-4 py-2 border-b border-white text-center">
            Payment Details
          </div>
          <div class="p-2 border-b border-white">
            <div class="flex justify-between mb-0.5 mt-1.5" *ngFor="let detail of paymentDetails">
              <span class="text-sm text-white">{{ detail.label }}:</span>
              <span class="text-sm text-white">&#8377; {{ detail.amount }}</span>
            </div>
            
          </div>
          <div class="flex justify-between mb-1 mt-1 p-2">
            <span class="text-sm text-white">Total Amount:</span>
            <span class="text-sm text-white">&#8377; {{ totalAmount }}</span>
          </div>
        </div>
        
      </div>
</div>